<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>f1</filter-name>
        <filter-class>my.vlong.java.training.filter.MyFilter1</filter-class>
    </filter>

    <filter>
        <filter-name>admin-filter</filter-name>
        <filter-class>my.vlong.java.training.filter.AdminFilter</filter-class>
    </filter>

    <filter>
        <filter-name>f2</filter-name>
        <filter-class>my.vlong.java.training.filter.MyFilter2</filter-class>
        <init-param>
            <param-name>construction</param-name>
            <param-value>yes</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>f1</filter-name>
        <url-pattern>/servlet01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>admin-filter</filter-name>
        <url-pattern>/admin-login</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>f2</filter-name>
        <url-pattern>/servlet02</url-pattern>
    </filter-mapping>
</web-app>
